/* Header */
.header {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto 1fr max-content;
    align-items: center;
    column-gap: 1rem;
}
@media (width <= 420px) {
    .header{
        grid-template-columns: auto;
    }
}
@media (421px <= width <= 700px){
    .header {
        grid-template-columns: 1fr;
    }
}
@media (width <= 1240px) {
    .header {
        padding: 0 1em;
    }
}
