---
layout: base.njk
---

<div class="page-content" id="offers">
    <section class="section">
        <h1 class="page-title">Наша продукция</h1>
        <ul class="cards">
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Биопосуда">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Упаковка">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Барные украшения">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Бытовая химия">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Средства дезинфекции">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
            <li class="offer-card"><img src="./images/offers/placeholder.png" alt="Салфетки и бумага">
                <h3 class="offer-card__title">Категория продуктов</h3>
            </li>
        </ul>
    </section>
    <section class="section section_with-img section_with-img-right" id="about">
        <img class="section__image" src="./images/education_school_icon_147469.svg" width="150" alt="">
        <h2>Наши премущества</h2>
        <div class="section__text">
            <ul>
                <li>
                    Более трёхсот наименований продукции!
                </li>
                <li>Широкий ассортимент в наличии!</li>
                <li>Бесплатная доставка в кратчайшие сроки!</li>
                <li>Всегда на связи, работаем без выходных!</li>
            </ul>
        </div>
    </section>
    <section class="section">
        <h2 class="section-header">Наша компания</h2>
        <p>
            Предлагаем широкий ассортимент всего самого лучшего из всего возможного и невозможного.</p>
        <p>Наш 200-летний опыт поставок и услуг, профессионализм и исключительная харизма не оставит вас равнодушными. Наш
            девиз:
            <strong>
                быть лучше, выше и сильнее</strong>
        </p>
        <p>Мы заинтересованы в долгострочном сотрудничестве, поэтому будем стараться во всю мощь</p>
    </section>
    <section class="section section_with-img" id="payments">
        <img class="section__image" src="./images/payments/icon_bank_payment.svg" width="150" alt="">
        <h2>Оплата</h2>
        <div class="section__text">
            <ul>
                <li>Наличный и безналичный расчёт</li>
                <li>Работаем с НДС</li>
                <li>Возможна отсрочка и расрочка платежа</li>
            </ul>
        </div>
    </section>
    <section class="section section_with-img section_with-img-right" id="delivery">
        <img class="section__image" src="./images/delivery/icon_delivery_lorry_mkad.svg" width="150" alt="">
        <h2>Доставка</h2>
        <div class="section__text">
            <p>Мы осуществляем доставку ваших заказов по всей галактике</p>
            <p>При заказе от 100500.00 юнитов - доставим
                <strong>БЕСПЛАТНО</strong>
            </p>
        </div>
    </section>
</div>
